%% -*- erlang -*-
{erl_opts, [debug_info]}.
{deps, [{edown, ".*", {git, "git://github.com/uwiger/edown.git", "HEAD"}}]}.
{edoc_opts, [{doclet, edown_doclet},
             {top_level_readme,
              {"./README.md",
               "http://github.com/uwiger/setup"}}]}.
{escript_name, setup_gen}.
{post_hooks, [{compile, "make escriptize"}]}.

%% This line is to ensure that any erl_first_files setting from
%% 'above' isn't accidentally inherited, since there seems to be
%% a strange interaction between SNMP MIB compilation and escriptize.
{erl_first_files, []}.
