%% -*- erlang -*-
{erl_opts, [debug_info]}.
{profiles,
 [
  {docs,
   [
    {deps, [{edown, "0.8.1"}]},
    {edoc_opts, [{doclet, edown_doclet},
                 {app_default, "http://www.erlang.org/doc/man"},
                 {top_level_readme,
                  {"./README.md",
                   "http://github.com/uwiger/setup"}}]}
   ]}
 ]}.
{escript_main_app, setup}.
{escript_name, setup_gen}.
{post_hooks, [{compile, "${MAKE:-make} escriptize"}]}.

%% This line is to ensure that any erl_first_files setting from
%% 'above' isn't accidentally inherited, since there seems to be
%% a strange interaction between SNMP MIB compilation and escriptize.
{erl_first_files, []}.
