%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
{minimum_otp_vsn, "21.0"}.
{erl_opts, [debug_info]}.
{profiles,
 [
  {doc, [
         {deps, [{edown, "0.8.4"}]},
         {edoc_opts, [{doclet, edown_doclet},
                      {app_default, "http://www.erlang.org/doc/man"},
                      {branch, "master"},
                      {top_level_readme,
                       {"./README.md",
                        "http://github.com/uwiger/setup", "master"}}]}
        ]}
 ]}.
{escript_main_app, setup}.
{escript_name, setup_gen}.
{escript_shebang, "#!/usr/bin/env escript\n"}.
{escript_comment, "%%\n"}.
{provider_hooks,
 [
  {post, [
          {compile, escriptize}
         ]}
 ]}.

{dialyzer, [{plt_extra_apps, [sasl]}]}.

{post_hooks, [{"(linux|darwin|solaris|freebsd|netbsd|openbsd)",
               escriptize,
               "cp \"$REBAR_BUILD_DIR/bin/setup_gen\" ./setup_gen"},
              {"win32",
               escriptize,
               "robocopy \"%REBAR_BUILD_DIR%/bin/\" ./ setup_gen* "
               "/njs /njh /nfl /ndl & exit /b 0"} % silence things
             ]}.
%% This line is to ensure that any erl_first_files setting from
%% 'above' isn't accidentally inherited, since there seems to be
%% a strange interaction between SNMP MIB compilation and escriptize.
{erl_first_files, []}.
